@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0px;
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}